<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBoIsFhc0gBrQQ6U3eKVtv7Em0qgkYUN4</string>
	<key>GCM_SENDER_ID</key>
	<string>201550128415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ritic.rconfig.rconfig</string>
	<key>PROJECT_ID</key>
	<string>remoteconfigpocritic</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfigpocritic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201550128415:ios:504fa80fe6cf75a7fcbc2a</string>
</dict>
</plist>